main {
  padding: 0 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 12.5rem;
  
  background: var(--gray-700);
}

.header img {
  height: 3rem;
  width: 7.875rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: calc(0px - 1.6875rem);
  gap: 8px;
}

.inputGroup {
  width: 100%;
  max-width: 39.875rem;
}

.inputLabel {
  display: none;
  visibility: none;
  height: 0;
}

.input {
  width: 100%;
  background: var(--gray-500);
  color: var(--gray-300);
  height: 3.375rem;
  padding: 1rem;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  line-height: 1.4;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 8px;
  width: 90px;
  height: 52px;
  background: var(--blue-dark);
  border: 0;
  border-radius: 8px;

  color: var(--gray-100);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.4;
  cursor: pointer;
}

.submitButton:hover {
  opacity: 0.9;
}

.toDoListContainer {
  height: 17.93rem;
  max-width: 46rem;
  margin: 5rem auto 0 auto;
}

.toDoListHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.toDoListHeader span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0635;
  color: #4EA8DE;
}

.toDoListHeader span:last-child {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0635;
  color: #8284FA;
}

.toDoCount {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.5625rem;
  height: 1.1875rem;
  margin-left: 8px;
  border-radius: 999px;
  background: var(--gray-400);
  font-weight: 700;
  font-size: 0.75rem;
  color: #D9D9D9;
  line-height: 0;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15.25rem;
  border-top: 1px solid #333333;
  border-radius: 8px;
}

.empty img {
  margin-bottom: 1rem;
}

.emptyTopParagraph{
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--gray-300);
}

.emptyBottomParagraph {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--gray-300);
}
