.header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 12.5rem;
  
  background: #0D0D0D;
}

.header img {
  height: 48px;
  width: 126px;
  margin-bottom: 1rem;
}